@{
    ViewData["Title"] = "Médico";
}

<head>
    <style>
        body {
            font-family: Arial, Arial, Helvetica, sans-serif;
            background-color: white;
        }
    </style>
</head>
<body>
    
</body>